# Philips Hue bridge settings
HUE_URI=https://api.meethue.com/
HUE_USERNAME=your-hue-username
HUE_TOKEN=your-hue-oauth-token
HUE_LAMP=Desk Lamp

# GPS coordinates for weather forecast
LATITUDE=52.52
LONGITUDE=13.41
